<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= devise_error_messages! %>

  <div class="form-inputs">
    <%= f.input :first_name, :label => 'First Name' %>
    <%= f.input :last_name, :label => 'Last Name' %>
    <%= f.input :email %>
    <%= f.input :address1, :label => 'Mailing Address 1', required: true, :input_html => {class: 'required'} %>
    <%= f.input :address2, :label => 'Mailing Address 2' %>
    <%= f.input :city, required: true %>
    <%= f.input :state, :collection => STATES.invert, :selected => @user.state, :include_blank => true, required: true %>
    <%= f.input :registration_number, :label => 'Patient/State Caregiver/Dispensary Registration (as applicable)' %>
    <%= f.input :control_number, :label => 'Control #' %>
    <%= f.input :expires_on, required: true, as: :date, order: [:month, :day, :year], value: nil, label: 'Expiration Date', include_blank: true, start_year: Date.today.year, end_year: Date.today.year + 10 %>
    <%= f.input :password, :as => :password, :hint => 'Must be at least 8 characters long.', required: true %>
    <%= f.input :password_confirmation, :as => :password, required: true %>
    <%= f.hidden :terms, value: true, required: true %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, value: "Sign Up" %>
  </div>
<% end %>
