<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, :label => 'First Name' %>
    <%= f.input :last_name, :label => 'Last Name' %>
    <%= f.input :email %>
    <%= f.input :address1, :label => 'Mailing Address 1', :input_html => {class: 'required'} %>
    <%= f.input :address2, :label => 'Mailing Address 2' %>
    <%= f.input :city %>
    <%= f.input :state, :collection => STATES.invert, :selected => @user.state, :include_blank => true %>
    <%= f.input :country %>
    <%= f.input :registration_number, :label => 'State Caregiver/Dispensary Registration #' %>
    <%= f.input :control_number, :label => 'Control #' %>
    <%= f.input :issued_on, :label => 'Issued' %>
    <%= f.input :expires_on, :label => 'Expires' %>
    <%= f.input :password, :as => :password, :hint => 'Must be at least 8 characters long.' %>
    <%= f.input :password_confirmation, :as => :password %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, value: "Sign Up" %>
  </div>
<% end %>
