<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, :label => 'First Name' %>
    <%= f.input :last_name, :label => 'Last Name' %>
    <%= f.input :email %>
    <%= f.input :address1, :label => 'Mailing Address 1', required: true, :input_html => {class: 'required'} %>
    <%= f.input :address2, :label => 'Mailing Address 2' %>
    <%= f.input :city, required: true %>
    <%= f.input :state, :collection => STATES.invert, :selected => @user.state, :include_blank => true, required: true %>
    <%= f.input :postal_code, label: 'Postal Code', required: true, :input_html => {maxlength: 5, size: 5} %>
    <%= f.input :registration_number, :label => 'Patient/State Caregiver/Dispensary Registration Number (if applicable)' %>
    <%= f.input :control_number, :label => 'Control Number (if applicable)' %>
    <%= f.input :expires_on, as: :date, required: true, order: [:month, :day, :year], value: nil, label: 'Registration Expiration Date', include_blank: true, start_year: Date.today.year, end_year: Date.today.year + 10 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
