<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Customers" %></h1>
</div>
<% if params[:all_customers] %>
	<h3>Viewing:  <em>All Customers</em></h3>
	<h3<%= link_to 'View Only Active Customers', users_path %></h3>
<% else %>
	<h3>Viewing:  <em>Only Active Customers</em></h3>
	<h3><%= link_to 'View All Customers', users_path(:all_customers => true) %></h3>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to model_class.human_attribute_name(:id), users_path(:sort => 'id') %></th>
      <th><%= link_to model_class.human_attribute_name(:last_name), users_path(:sort => 'last_name') %></th>
      <th><%= link_to model_class.human_attribute_name(:first_name), users_path(:sort => 'first_name') %></th>
      <th><%= link_to model_class.human_attribute_name(:email), users_path(:sort => 'email') %></th>
      <th>Orders</th>
      <th>Tests</th>
      <th>Re-Invite</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Create Order',
                      new_user_order_path(user), :class => 'btn btn-mini' %>
            <%= link_to 'View Orders',
                      user_orders_path(user), :class => 'btn btn-mini' %>
        </td>
        <td><% if user.has_unused_tests? %>
        		<%= link_to 'Scan New Test Sample',
                      scan_user_tests_path(user), :class => 'btn btn-mini' %>
            <% end %>
            <%= link_to 'View Tests',
                      user_tests_path(user), :class => 'btn btn-mini' %>
        </td>
        <td><% if !user.registered? and user.active? %>
        		<%= link_to 'Re-Invite', reinvite_path(user), :class => 'btn btn-mini'%>
        	<% end %>
        </td>
        <td>
          	<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini' %>
	      	<% if user.active? %>
	          	<%= link_to t('.destroy', :default => "Deactivate"),
	                      user_path(user),
	                      :method => :delete,
	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          	<% else %>
          		<%= link_to t('.destroy', :default => "Reactivate"),
	                      reactivate_path(user),
                      :class => 'btn btn-mini' %>
          	<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary' %>

