<center>
	<table border="0" >
		<tr><td colspan="8" height="5"></td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @qr_info[0..3].each_with_index do |q, i| %>
				<td><%= wicked_pdf_image_tag q[1] %>
					<br/>
					<font size="1" face="arial"><%= q[0] %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @qr_info[4..7].each_with_index do |q, i| %>
				<td><%= wicked_pdf_image_tag q[1] %>
					<br/>
					<font size="1" face="arial"><%= q[0] %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @qr_info[8..11].each_with_index do |q, i| %>
				<td><%= wicked_pdf_image_tag q[1] %>
					<br/>
					<font size="1" face="arial"><%= q[0] %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @qr_info[12..15].each_with_index do |q, i| %>
				<td><%= wicked_pdf_image_tag q[1] %>
					<br/>
					<font size="1" face="arial"><%= q[0] %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @qr_info[16..19].each_with_index do |q, i| %>
				<td><%= wicked_pdf_image_tag q[1] %>
					<br/>
					<font size="1" face="arial"><%= q[0] %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @qr_info[20..23].each_with_index do |q, i| %>
				<td><%= wicked_pdf_image_tag q[1] %>
					<br/>
					<font size="1" face="arial"><%= q[0] %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
	</table>		
</center>
