<center>
	<table border="0" >
		<tr><td colspan="8" height="5"></td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @codes[0..3].each_with_index do |q, i| %>
				<td><%= image_tag 'http://localhost:3000/admin/qr_codes/image/' << q.id.to_s %>
					<br/>
					<font size="1" face="arial"><%= qr_name(q) %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @codes[4..7].each_with_index do |q, i| %>
				<td><%= image_tag url_for(:action => 'image', :id => q.id) %>
					<br/>
					<font size="1" face="arial"><%= qr_name(q) %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @codes[8..11].each_with_index do |q, i| %>
				<td><%= image_tag url_for(:action => 'image', :id => q.id) %>
					<br/>
					<font size="1" face="arial"><%= qr_name(q) %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @codes[12..15].each_with_index do |q, i| %>
				<td><%= image_tag url_for(:action => 'image', :id => q.id) %>
					<br/>
					<font size="1" face="arial"><%= qr_name(q) %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @codes[16..19].each_with_index do |q, i| %>
				<td><%= image_tag url_for(:action => 'image', :id => q.id) %>
					<br/>
					<font size="1" face="arial"><%= qr_name(q) %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
		<tr><td colspan="8" height="40">&nbsp;</td></tr>
		<tr align="center">
			<td width="30">&nbsp;</td>
			<% @codes[20..23].each do |q, i| %>
				<td><%= image_tag url_for(:action => 'image', :id => q.id) %>
					<br/>
					<font size="1" face="arial"><%= qr_name(q) %></font>
				</td>
				<% unless i == 3 %>
					<td width="60">&nbsp;</td>
				<% end %>
			<% end %>
		</tr>
	</table>		
</center>
