<h1>Editing Test for <%= @customer.first_name %> <%= @customer.last_name %></h1>

<%= render 'form' %>

<%= link_to 'Show', user_test_path(@customer, @test) %> |
<%= link_to 'Back', user_tests_path(@customer) %>
