<%- model_class = Test -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> for <%= @customer.first_name %> <%= @customer.last_name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:order_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>


  <tbody>
    <% @tests.each do |test| %>
      <tr>
      	<td><%= link_to test.id, user_test_path(@customer, test) %></td>
        <td><%=l test.created_at %></td>
        <td><%= test.status %></td>
      	<td><%= link_to test.order_id, user_test_path(@customer, test.order) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_test_path(@customer, test), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

